// compress: true
@import "fonts";
@import "vars";

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
@import "blocks/container";
@import "blocks/header";
@import "blocks/user";
@import "blocks/nav";
